.app-container{
  display : flex ;
  flex-direction: column;
  gap :20px;
}

.app-container > h1 { 
  width : 92%;
  margin : 60px auto 30px auto;
}

.csv-container {
  width : 92%;
  margin : auto;
 
}

.csv-import { 
  display : flex ;
  gap : 10px;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width : 500px) {
  h1{
    text-align: center;
  }
  
}